body{
    margin: 0px; /* body의 기본값인 margin 8px를 없애기 위한 코드. 좌우 여백을 완전히 제거 */
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    color: white;
}

a {
    color: white;
    text-decoration: none; /* a 태그에 직접적으로 스타일을 부여 => 모든 a태그의 기본값으로 설정. 태그마다 일일이 설정할 필요가 없는 장점*/
}

a:hover {
    color: #1ed760;
}

nav {
    height: 80px;
    background-color: black;
    display: flex; /* 기본값인 세로정렬을 가로정렬로 변경. 가로정렬 대상이 div 태그의 부모 태그이기 때문에 nav에 적용 */
    justify-content: space-around; /* justify-content => 가로정렬. space-between => 여백을 균등하게 정렬 */
    align-items: center; /* align-items => 세로정렬. center => 가운데 맞춤 */
}

main{
    height: 969px;
   background-color: rgb(41, 65, 171);
   background-image: url(https://www-growth.scdn.co/static/home/bursts.svg); /* 백그라운드의 연두색 이미지 url 주소 */
   background-size: 175%; /* 백그라운드 크기를 175%로 설정 */
   background-position: 46% 4%; /* 백그라운드 좌표를 x축 46%, y축 4%로 설정 */
   display:flex; /* 가로 정렬 -> 세로 정렬 */
   align-items: center; 
   justify-content: center;
}

footer {
    height: 530px;
    background-color: black;
}

.nav-item {
    padding: 28px 17px;
    font-weight: 700; /* 폰트 두께 조절 */
}



.headline{
    font-size: 146px;
    font-weight: 900;
    color: #1ed760;
    position:relative;
    left: 225px;
    padding-bottom: 40px;
}

.headline-first{
    position:relative;
    left: -2.5em; /* 일종의 반응형 글씨체 기준의 하나 */
}

.sub-headline{
    color: #1ed760;
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
}

.button-area{
    text-align: center; /* 버튼을 가운데로 정렬 */
}

.button-style{
    padding: 14px 32px;
    background-color: #1ed760;
    border-radius: 500px;
    font-size: inherit;
    color: #2941ab;
    font-weight: 700;
    border: none;
}

.button-style:hover{
    transform: scale(1.1);/* transform =>  */ /* scale => 입력 숫자만큼의 비율로 확대(150%) */
}

.container {
    max-width: 1170px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
  }

  footer {
    height: 530px;
    background-color: black;
    display: flex;
    justify-content: center;
  }

  .first-box {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  .second-box {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }

  .footer-menu {
    display: flex;
    justify-content: space-between;
    height: 346px;
  }

.first-box{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }

  .sub-title {
    color: #919496;
    font-weight: 900;
    margin: 20px 0px;
  }

  .footer-menu-item {
    padding-bottom: 15px;
    padding-top: 3px;
    font-size: 16px;
  }

  .icon-box {
    width: 54px;
    height: 54px;
    background-color: #222322;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .first-line {
    color: #919496;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
  }

  .second-line {
    color: #919496;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }

  .second-line-item {
    margin-right: 24px;
    color: #919496;
  }

  